{% load staticfiles %}
	

<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
						
					 <div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner" style="overflow: hidden !important;" >
                                                     
							<div class="item active">
								<div class="col-sm-12">
									<img src="{% static 'header/images/slider.jpg' %}" class="img-responsive" alt="" style="width:1300px; height:500px;" />
								</div>
								
							</div>
						
							   <div class="item">
	                                <div class="col-sm-6">
									<img src="{% static 'header/images/crap1.jpg' %}" class="girl img-responsive" alt="" style="width:1300px; height:500px;" />
								</div>							
							   <div class="col-sm-6">
							    <h1><span>UI</span>-ET</h1>
									<h2>A Place Where You Can Get Every Book</h2>
									<p>"A library is the delivery room for the birth of ideas, a place where history comes to life.” » Norman Cousins</p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
							
							</div>
							
							
							<div class="item">
								<div class="col-sm-12">
									<img src="{% static 'header/images/camp.jpg' %}" class="img-responsive" alt="" style="width:1300px; height:500px;" />
								</div>
								
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->

