{% extends 'header/head.html' %}
{% load staticfiles %}
{% block body %}	

<section>        user is : {{full_name}}
		<div class="container">
			<div class="row">
			<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Exciting Deals</h2>
						<div class="shipping text-center"><!--shipping-->
							<img src="{% static 'header/images/home/shipping.jpg' %}" alt="" />
						</div><!--/shipping-->
						<br>
						<div class="shipping text-center"><!--shipping-->
							<img src="{% static 'header/images/home/shipping - Copy.jpg' %}" alt="" />
						</div><!--/shipping-->
					
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
				
				  <div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">Recommended items</h2>						 
<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
<div class="carousel-inner" style="overflow: hidden !important;">         
    <div class="item active">
    {% for prod in pro %}
      {% if prod.featured == 0 and prod.trending == 0 %}
        <div class="col-sm-3">
            <div class="product-image-wrapper1">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <!--sample image, same for all--><img src="{{ prod.image.url }}" alt="" height="150px" width="200px" />
                        <a href="{% url 'product_info' prod.id %}" ><h6>{{prod.productname}}</h6></a>
                        <p>{{prod.producttype}}</p>
                        <p class="btn btn-default ">Rs.{{prod.price}}</p>
                    </div>
                </div>
            </div>
        </div>
       {% if forloop.counter|divisibleby:4 and not forloop.last %}
       </div>
       <div class="item">
       {% endif %}
         {% endif %}
    {% endfor %}
    </div>  
</div>
<a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
<i class="fa fa-angle-left"></i>
</a>
<a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
<i class="fa fa-angle-right"></i>
</a>            
                                               
					</div><!--/recommended_items-->
					 <br>
				<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Featured Items</h2>
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
					
<div class="carousel-inner" style="overflow: hidden !important;">         
    <div class="item active">
    {% for prod in pro %}
       {% if prod.featured == 1 %} 
        <div class="col-sm-3">
            <div class="product-image-wrapper1">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <!--sample image, same for all--><img src="{{ prod.image.url }}" alt="" height="150px" width="200px" />
                        <a href="{% url 'product_info' prod.id %}" ><h6>{{prod.productname}}</h6></a>
                        <p>{{prod.producttype}}</p>
                        <p class="btn btn-default ">Rs.{{prod.price}}</p>
                    </div>
                </div>
            </div>
        </div>
       {% if forloop.counter|divisibleby:4 and not forloop.last %}
       </div>
       <div class="item">
       {% endif %}
         {% endif %}
    {% endfor %}
    </div>  
</div>
<a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
<i class="fa fa-angle-left"></i>
</a>
<a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
<i class="fa fa-angle-right"></i>
</a>            
                                               
					</div>
						</div>
						<br>
						
						<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">Trending Products</h2>
						
						<div id="recommended-item-carousel1" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner" style="overflow: hidden !important;" >         
    <div class="item active">
    {% for prod in pro %}
       {% if prod.trending == 1 %} 
        <div class="col-sm-3">
            <div class="product-image-wrapper1">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <!--sample image, same for all--><img src="{{ prod.image.url }}" alt="" height="150px" width="200px" />
                        <a href="{% url 'product_info' prod.id %}" ><h6>{{prod.productname}}</h6></a>
                        <p>{{prod.producttype}}</p>
                        <p class="btn btn-default ">Rs.{{prod.price}}</p>
                    </div>
                </div>
            </div>
        </div>
       {% if forloop.counter|divisibleby:4 and not forloop.last %}
       </div>
       <div class="item">
       {% endif %}
         {% endif %}
    {% endfor %}
    </div>  
</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel1" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel1" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					<br>
			 <div class="category-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tshirt" data-toggle="tab">Civil</a></li>
								<li><a href="#blazers" data-toggle="tab">Mechanical</a></li>
								<li><a href="#sunglass" data-toggle="tab">Electrical</a></li>
								<li><a href="#kids" data-toggle="tab">Electronics</a></li>
								<li><a href="#poloshirt" data-toggle="tab">CS/IT</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="tshirt" >
							{% for cate in catg %}
							  {% if cate.civil == 1 %}
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{{ cate.image.url }}" alt="" />
												<h2>Rs.{{ cate.price }}</h2>
												<a href="{% url 'product_info' cate.id %}"><h6>{{ cate.productname }}</h6></a>
											</div>
											
										</div>
									</div>
								</div>
								{% endif %}
							{% endfor %}	
							</div>
							
							<div class="tab-pane fade" id="blazers" >
								<div class="tab-pane fade active in" id="tshirt" >
							{% for cate in catg %}
							 {% if cate.mechanical == 1 %}
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{{ cate.image.url }}" alt="" />
												<h2>Rs.{{ cate.price }}</h2>
												<a href="{% url 'product_info' cate.id %}"><h6>{{ cate.productname }}</h6></a>
											</div>
											
										</div>
									</div>
								</div>
								{% endif %}
							{% endfor %}	
							</div>
							</div>
							
							<div class="tab-pane fade" id="sunglass" >
								
							{% for cate in catg %}
							 {% if cate.electrical == 1 %}
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{{ cate.image.url }}" alt="" />
												<h2>Rs.{{ cate.price }}</h2>
												<a href="{% url 'product_info' cate.id %}"><h6>{{ cate.productname }}</h6></a>
											</div>
											
										</div>
									</div>
								</div>
								{% endif %}
							{% endfor %}	
							
							</div>
							
							<div class="tab-pane fade" id="kids" >
								
							{% for cate in catg %}
							  {% if cate.electronics == 1 %}
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{{ cate.image.url }}" alt="" />
												<h2>Rs.{{ cate.price }}</h2>
												<a href="{% url 'product_info' cate.id %}"><h6>{{ cate.productname }}</h6></a>
											</div>
											
										</div>
									</div>
								</div>
								{% endif %}
							{% endfor %}	
							
							</div>
							
							<div class="tab-pane fade" id="poloshirt" >
								
							{% for cate in catg %}
							   {% if cate.csit == 1 %}
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{{ cate.image.url }}" alt="" />
												<h2>Rs.{{ cate.price }}</h2>
												<a href="{% url 'product_info' cate.id %}"><h6>{{ cate.productname }}</h6></a>
											</div>
											
										</div>
									</div>
								</div>
								{% endif %}
							{% endfor %}	
					
							</div>
						</div>
					</div><!--/category-tab-->
					<br>
				</div>
			</div>
		</div>
	</section>


{% endblock %}